body {
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    background: linear-gradient(#a2d2ff, pink, red);
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
}


#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
h4 {
    text-shadow: 0px 0px 1px black;
}

#bday-age,
#bday-date {
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 5px;
    background: #EFB0C9;
}

#img-file {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
}

.gift-section {
    margin: 50px 0px;
}


.gift-title {
    margin-bottom: 10px;
}

.gift-img {
    margin: 0 auto;
    height: 400px;
    width: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("../images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("../images/happy.gif");
}


#gift-img-hot:hover {
    background-image: url("../images/hot.gif");
}

#gift-img-genius:hover {
    background-image: url("../images/genius.gif");
}

#gift-img-badass:hover {
    background-image: url("../images/badass.gif");
}

#gift-img-cheers {
    height: 200px;
}

#gift-img-cheers:hover {
    background-image: url("../images/cheers.gif");
}

#footer {
    width: 400px;
    margin: 40px auto 20px;
    font-style: italic;
}

a {
    color: white;
}